<!DOCTYPE html>
<html lang="en">
<head>
    <%-  include('../partials/head') -%>
</head>
<body class="container">

<header>
        <%-  include('../partials/header') -%>
</header>

<br>
<br>
<div class="jumbotron">
        <h1 class="display-4"><%= group.name %></h1>
        <p class="lead"><%= group.description %></p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </div>


<footer>
    <%-  include('../partials/footer') -%>
</footer>

</body>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="crossorigin="anonymous"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="/js/axios.js"></script>
<script src="/js/jquery.js"></script>
<script src="/js/app.js"></script>

<script>
function submitGroup(event) {
    event.preventDefault();

    let name_input = document.getElementById('groupName').value;

    let image_input = document.getElementById('groupImage').value;

    let description_input = document.getElementById('groupDescription').value;

    let data = {
        name : name_input,
        image : image_input,
        description: description_input
    };

    apiAddGroups(data);
}

</script>

</html>